{% extends "../base.html" %}

{% block title %}
    Данные клиента
{% endblock %}


{% block content %}
<div class="container" id="">
    <h1 class="panel-title">Заявка № {{ id }}</h1>

   <a  href="{% url "client_decline" id %}"><button class="btn btn-default  " type="button"> <span class="glyphicon glyphicon-plus"></span>  Отказ по заявке </button></a>
   <div class="grid-container">
       <div class="item1">
    <table border="0"  bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring">
       <thead>
      <tr>
        <th></th>
          <td></td>
      </tr>
    </thead>
    <tbody>
<!-- история операций таблица операция-дата и список создана, на проверке скориста, прошла все проверки, ожидает согласования, согласована иваном -->
          <!--  <td>создана</td>
            <td>11/11/2011</td>
            <td>на проверке скориста</td>
            <td>11/11/2011</td>
            <td> прошла все проверки</td>
            <td>11/11/2011</td>
            <td>ожидает согласования</td>
            <td>11/11/2011</td>
            <td>согласована иваном</td>
            <td>11/11/2011</td>-->

   <tr>
       <td> Имя:</td>
       <td>{{ individual.first_name }}</td>
   </tr>
   <tr>
       <td>Отчество:</td>
       <td>{{ individual.middle_name }}</td>
   </tr>
   <tr>
       <td>Фамилия:</td>
       <td>{{ individual.last_name }}</td>
   </tr>
   <tr>
       <td>Пол:</td>
       <td> {{ individual.gender }}</td>
   </tr>
   <tr>
       <td>Дата рождения:</td>
       <td> {{ individual.birthday }}</td>
   </tr>
   <tr>
       <td>Номер паспорта:</td>
       <td>{{ individual.passport.number }}</td>
   </tr>
   <tr>
       <td>Дата выдачи паспорта:</td>
       <td> {{ individual.passport.issued_at }}</td>
   </tr>
   <tr>
       <td>кем выдан:</td>
       <td> {{ individual.passport.issued_by }}</td>
   </tr>
   <tr>
       <td>Адрес прописки:</td>
       <td> {{ individual.passport.address_registration }}</td>
   </tr>

  </tr>

</tbody>
</table>
</div>

 <div class="item1">Статус: <br> Требует подтверждения <br> Скоринг: <br> Willz: Пройден <br> Стоп-Факторы: <br> Не обнар</div>
    
</div>

<div class="panel-heading">
    <p><strong>Сканы документов</strong></p>
  </div>


 <table border="1"  bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring">
    <tbody>
    <tr>
        {% for item in individual.passport.passport_images %}
            <td>
                <a id="single_image" href="{{ item.url }}"><img style="height: 100px; width: 100px" src="{{ item.url }}"
                                                                alt=""/></a>
                  <img id="img-custom" src="{{ item.url }}" alt="" />
            </td>


        {% endfor %}
    </tr>
    <tr>
        {% for item in license_images %}
            <a id="single_image" href="{{ item.url }}"><img style="height: 100px; width: 100px" src="{{ item.url }}"
                                                            alt=""/></a>
        
          <img id="img-custom" src="{{ item.url }}" alt="" />

        {% endfor %}
    </tr>

  </tr>

</tbody>
</table>
    <!--  Имя: Отчество: Фамилия: Пол: Дата рождения: Номер паспорта: Дата выдачи паспорта: кем выдан: Адрес прописки:

сканы документов(таблица, подгрузить пикчи)

Водители
Фио, номер ВУ, дата выдачи ВУ, стаж, тип
история операций таблица операция-дата и список создана, на проверке скориста, прошла все проверки, ожидает согласования, согласована иваном
-->
    <div class="panel-heading">
    <p><strong>Водители</strong></p>
  </div>


    <table border="1"  bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring">
    <thead>
      <tr>
          <td>Фамилия</td>
          <td>Имя</td>
          <td>Номер ВУ</td>
          <td>Дата выдачи ВУ</td>
          <td></td>
          <td></td>
      </tr>
    </thead>
    <tbody>
    {% for item in drivers %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.driver_license_number }}</td>
        <td>{{ item.driver_license_number }}</td>

        {%  if item.primary == True %}
            <td>{{ "Основной"}}</td>
            <td></td>
            {% else %}
            <td>{{ "Дополнительный"}}</td>
            <td><button class="btn btn-default  " type="button"> <span class="glyphicon glyphicon-plus"></span>  Выбрать основным </button></td>
        {% endif %}

    </tr>>
        {% endfor %}
  </tr>

</tbody>
</table>

      <button class="btn btn-default  " type="button"> <span class="glyphicon glyphicon-plus"></span>  Добавить </button>
      <button class="btn btn-default  " type="button"> <span class="glyphicon glyphicon-plus"></span>  Удалить </button>


    <div class="panel-heading">
        <p><strong>История операций</strong></p>
    </div>


    <table border="1" bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring">
        <thead>
        <tr>
            <td>Действие</td>
            <td>Процессор</td>
            <td>Дата</td>
            <td>Информация</td>
        </tr>
        </thead>
        <tbody>

        {% for item in history.actions %}
        <tr>
                <td>{{ item.action_type }}</td>
                <td>{{ item.processor }}</td>
                <td>{{ item.create_time }}</td>
        <td><button class="btn btn-default  " type="button"> <span class="glyphicon glyphicon-plus"></span>  Просмотр </button></td>
        </tr>
            {% endfor %}

        </tr>

        </tbody>
    </table>
</div>


{% endblock %}


