{% extends "../index.html" %}


{% block title %}
    Скоринг клиента
{% endblock %}
{% block content %}

		<div id="" class="container">
    <h1>Оценка заявки № {{ id }}</h1>
            <div style=" border:1px solid lightgray;" id="" class="container">
                <big>Данные</big>

                <p>Скориста <strong style="color:green">Успешно </strong></p>

            </div>
          <div style=" border:1px solid lightgray;" id="" class="container">
                 <big>Скоринг</big>


                <p>
                    Оценка клиента: <strong style="color:green">{{ score.scoring }} </strong></p>
{#                <p>Данный клиент требует дополнительного согласования. Обратите внимание на стоп-факторы. </p>#}
{#               <button class="btn btn-default scoring-delete-button " type="button"> <span class="glyphicon glyphicon-plus"></span>  подробности </button>#}
            </div>
          <div style=" border:1px solid lightgray;" id="" class="container">
    <big style="color:red">Стоп-Факторы</big>

                {% for item in checks %}
                <p>
                    {{ item.name }} -  {{ item.type }} - {{ item.value }} - {{ item.info }}
                </p>
                {% endfor %}
{#                <p>#}
{#                    Оценка клиента: <strong style="color:green">80 баллов </strong></p>#}
{#                <p>Задолженность по ФССП в размере 1000 рублей. Штрафы ГИБДД в размере 2000 рублей.</p>#}
{#               <button class="btn btn-default scoring-delete-button " type="button"> <span class="glyphicon glyphicon-plus"></span>  Подтвердить </button>#}
{#               <button class="btn btn-default scoring-delete-button " type="button"> <span class="glyphicon glyphicon-plus"></span>  Отказать </button>#}
{#            </div>#}
</div>
    <div style=" border:1px solid lightgray;" id="" class="container">
        <big style="color:red">Сырые данные</big>
        <div style="height:200px; width:570px;border:2px solid #5e5e5e;font:16px/26px Georgia, Garamond, Serif;overflow-y: scroll;">
            {{ raw_data }}</div>

    </div>
{% endblock %}

