{% extends "../base.html" %}
{% block content %}

		<div id="" class="container">
    <h1>Оценка заявки №123</h1>
            <div style=" border:1px solid lightgray;" id="" class="container">
                <big>Данные</big>
                <p>
                    Контур Фокус <strong style="color:green">Успешно </strong></p>
                <p>Скориста <strong style="color:green">Успешно </strong></p>
               <p> ГИБДД <strong style="color:green">Успешно </strong>
                </p>
            </div>
          <div style=" border:1px solid lightgray;" id="" class="container">
                 <big>Скоринг</big>

                <p>{{ score }}</p>
                <p>
                    Оценка клиента: <strong style="color:green">80 баллов </strong></p>
                <p>Данный клиент требует дополнительного согласования. Обратите внимание на стоп-факторы. </p>
               <button class="btn btn-default scoring-delete-button " type="button"> <span class="glyphicon glyphicon-plus"></span>  подробности </button>
            </div>
          <div style=" border:1px solid lightgray;" id="" class="container">
    <big style="color:red">Стоп-Факторы</big>
                <p>
                    {{ checks }}
                </p>
                <p>
                    Оценка клиента: <strong style="color:green">80 баллов </strong></p>
                <p>Задолженность по ФССП в размере 1000 рублей. Штрафы ГИБДД в размере 2000 рублей.</p>
               <button class="btn btn-default scoring-delete-button " type="button"> <span class="glyphicon glyphicon-plus"></span>  Подтвердить </button>
               <button class="btn btn-default scoring-delete-button " type="button"> <span class="glyphicon glyphicon-plus"></span>  Отказать </button>
            </div>
</div>


{% endblock %}

