{% extends "../base.html" %}

{% block title %}
    Данные клиента
{% endblock %}
{% block head %}
  <style>
        table {
            border: solid 0px black;
            width: 100%;
        }
     td{
         border: solid 1px white;
         background: #f0f0f0;
     }
     th{
         border: solid 1px white;
         background: #f0f0f0;
     }
    </style>
{% endblock %}

{% block content %}
<div class="container fullHeight" id="hei">
    <h1 class="panel-title">Заявка № {{ id }}</h1>

    <a href="{% url "client_decline" individual.id %}">
        <button class="menuButton" type="button"><span class="glyphicon glyphicon-plus"></span> Отказ по заявке</button>
    </a>
    <div class="panel-heading">
        <p><strong>Данные</strong></p>
    </div>
   <div class="grid-container">
       <div class="item1">
    <table border="0"  bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring">

    <tbody>


   <tr>
       <td> Имя:</td>
       <td>{{ individual.first_name }}</td>
   </tr>
   <tr>
       <td>Отчество:</td>
       <td>{{ individual.middle_name }}</td>
   </tr>
   <tr>
       <td>Фамилия:</td>
       <td>{{ individual.last_name }}</td>
   </tr>
   <tr>
       <td>Пол:</td>
       <td> {{ individual.gender }}</td>
   </tr>
   <tr>
       <td>Дата рождения:</td>
       <td> {{ individual.birthday }}</td>
   </tr>
   <tr>
       <td>Номер паспорта:</td>
       <td>{{ individual.passport.number }}</td>
   </tr>
   <tr>
       <td>Дата выдачи паспорта:</td>
       <td> {{ individual.passport.issued_at }}</td>
   </tr>
   <tr>
       <td>кем выдан:</td>
       <td> {{ individual.passport.issued_by }}</td>
   </tr>
   <tr>
       <td>Адрес прописки:</td>
       <td> {{ individual.passport.address_registration }}</td>
   </tr>

  </tr>

</tbody>
</table>
</div>

 <div class="item1">Статус: <br> Требует подтверждения <br> Скоринг: <br> Willz: Пройден <br> Стоп-Факторы: <br> Не обнар</div>

</div>

<div class="panel-heading">
    <p><strong>Сканы документов</strong></p>
  </div>


 <table border="1"  bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring">
    <tbody>
    <tr>
        {% for item in individual.passport.images %}
            <td>
                <a id="single_image" href="{{ item.url }}"><img class="img-custom" style="height: 100px; width: 100px"
                                                                src="{{ item.url }}" alt=""/></a>

            </td>


        {% endfor %}
    </tr>
    <tr>
        {% for item in individual.driver_license.images %}
            <a id="single_image" href="{{ item.url }}"><img class="img-custom" style="height: 100px; width: 100px"
                                                            src="{{ item.url }}" alt=""/></a>



        {% endfor %}
    </tr>

  </tr>

</tbody>
</table>
    <!--  Имя: Отчество: Фамилия: Пол: Дата рождения: Номер паспорта: Дата выдачи паспорта: кем выдан: Адрес прописки:

сканы документов(таблица, подгрузить пикчи)

Водители
Фио, номер ВУ, дата выдачи ВУ, стаж, тип
история операций таблица операция-дата и список создана, на проверке скориста, прошла все проверки, ожидает согласования, согласована иваном
-->

    <div class="panel-heading">
    <p><strong>Водители</strong></p>
    </div>
    <table border="1"  bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring">
    <thead>
      <tr>
          <td>Фамилия</td>
          <td>Имя</td>
          <td>Номер ВУ</td>
          <td>Дата выдачи ВУ</td>
          <td></td>
          <td></td>
      </tr>
    </thead>
    <tbody>
    {% for item in drivers %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.driver_license_number }}</td>
        <td>{{ item.driver_license_number }}</td>

        {%  if item.primary == True %}
            <td>{{ "Основной"}}</td>
            <td></td>
            {% else %}
            <td>{{ "Дополнительный"}}</td>
            <td>
                <button class="menuButton" type="button"><span class="glyphicon glyphicon-plus"></span> Выбрать основным
                </button>
            </td>
        {% endif %}

    </tr>
        {% endfor %}
  </tr>

    </tbody>
    </table>

    <button class="menuButton" type="menuButton"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
    <button class="menuButton" type="menuButton"><span class="glyphicon glyphicon-plus"></span> Удалить</button>


    <div class="panel-heading">
        <p><strong>История операций</strong></p>
    </div>


    <table border="1" bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring">
        <thead>
        <tr>
            <td>Действие</td>
            <td>Процессор</td>
            <td>Дата</td>
            <td>Информация</td>
        </tr>
        </thead>
        <tbody>

        {% for item in history.actions %}
        <tr>
                <td>{{ item.action_type }}</td>
                <td>{{ item.processor }}</td>
                <td>{{ item.create_time }}</td>
            <td>
                <button class="menuButton" type="menuButton"><span class="glyphicon glyphicon-plus"></span> Просмотр
                </button>
            </td>
        </tr>
            {% endfor %}

        </tr>

        </tbody>
    </table></div>

{% endblock %}


