{% extends "../base.html" %}

{% load status_color_filter %}
{% block head %}

{% endblock %}
{% block title %}
   Список заявок
{% endblock %}
{% block content %}

    {% load status_menu %}
    <h1>Список клиентов</h1>
    <div style="width:100%; text-align: center;">
    {% status_menu statuses %}
    </div>


    <br/>
    {% for item in items %}
        <h4 class="panel-title">Заявка #{{ item.id }}</h4>
        <h4>{{ item.created_at }}, ID: {{ item.willz_external_id }}, Продукт: {{ item.product }}</h4>
                <table style="border: solid 2px black" class="table table-bordered">

                    <tr>
                        <td><strong>Основное физ.лицо</strong></td>

                        <td><big>Клиент: {{ item.primary_individual.last_name }} {{ item.primary_individual.first_name }}</big></td>
                        <td><big>Статус:</big> <big
                                style="background:{{ item.primary_individual.status|status_color_filter }};opacity: 0.8;">{{ item.primary_individual.status }}</big>
                        </td>
                        <td style="text-align: right"><a
                                href="{% url "individual_inspect" item.primary_individual.id %}">

                            <button class="btn btn-success">Карточка клиента</button>
                        </a></td>
                    </tr>
                    <!-- фор имя_айди ин имя_лист -->

                    {% for secondary in item.secondary_individuals %}
                    <tr>
                        <td><strong>Дополнительные водители</strong></td>    <td><big>Клиент: {{ secondary.last_name }} {{ secondary.first_name }}</big></td>
                        <td><big>Статус:</big> <big
                                style="text-decoration:underline;text-decoration-color:{{ secondary.status|status_color_filter }};">{{ secondary.status }}</big>
                        </td>
                            <td style="text-align: right"><a href="{% url "individual_inspect" secondary.id %}">
                                <button class="btn btn-success">Карточка клиента</button>
                            </a></td>
                    </tr>
                    {% endfor %}


                </table>

    {% endfor %}





    {#    <a href="{% url "clients_list" %}">#}
    {#        <button class="btn btn-outline-dark" type="button" {{ disabled }}>Загрузить#}
    {#            новые заявки#}
    {#        </button>#}
    {#    </a>#}

{% endblock %}



