{% extends "../base.html" %}

{% block title %}
    Данные клиента
{% endblock %}
{% block head %}

{% endblock %}
{% load status_color_filter %}
{% load gender_filter %}
{% load archive_bool_filter %}

{% block content %}
    <script>
        var individual_id = {{ individual.id }};
    </script>
    <div class="modal-header">
        <h1>Досье физ.лица № {{ id }} (Версия №{{ individual.current_generation.number }})</h1>
        <h2 style="color:{{ individual.status|status_color_filter }}">{{ individual.status }}</h2>
    </div>
    <div class="container">

        <div class="panel-heading" style="padding: 10px;">
            <button id="prescoring-decline" class="btn btn-success" custom_tag="{{ id }}">
                1. Отказ до скоринга
            </button>
            <a id="scoring-button" class="btn btn-success" href="{% url "start_individual_scoring" individual.id %}">2.
                Отправить на скоринг</a>
            <a id="scoring_results" class="btn btn-success"
               href="{% url "individual_scoring" id=individual.id gen_id_or_cur_gen="cur_gen" %}">
                 3. Решение скоринга</a>
            </a>
            <a id="new-generation" class="btn btn-success" href="{% url "individual_new_generation" individual.id %}">4.
                В архив</a>

            <div class="float-lg-right">
                <a class="btn btn-success" id="scoring_report" style="margin-right: 5px;"
                   href="{% url "individual_report" id=individual.id gen_id_or_cur_gen="cur_gen" %}">Отчет по
                    клиенту</a>
                <a class="btn btn-success"
                   href="{% url "individual_operations" id=individual.id gen_id_or_cur_gen="cur_gen" %}">История
                операций</a>
            </div>
        </div>

        <br/>

      <table class="table">

   <tr>
       <td> Имя:</td>
       <td>{{ individual.first_name }}</td>

   </tr>
   <tr>
       <td>Отчество:</td>
       <td>{{ individual.middle_name }}</td>
   <tr>
       <td>Фамилия:</td>
       <td>{{ individual.last_name }}</td>
   </tr>
   <tr>
       <td>Пол:</td>
       <td> {{ individual.gender|gender_filter }}</td>
   </tr>
   <tr>
       <td>Дата рождения:</td>
       <td> {{ individual.birthday }}</td>
   </tr>
   <tr>
       <td>Cерия и номер паспорта:</td>
       <td>{{ individual.passport.number }}</td>
   </tr>
   <tr>
       <td>Дата выдачи паспорта:</td>
       <td> {{ individual.passport.issued_at }}</td>
   </tr>
   <tr>
       <td>Кем выдан:</td>
       <td> {{ individual.passport.issued_by }}</td>
   </tr>
   <tr>
       <td>Код подразделения:</td>
       <td> {{ individual.passport.division_code }}</td>
   </tr>
          <tr>
              <td>Место рождения:</td>
              <td> {{ individual.passport.birthplace }}</td>
          </tr>
          <tr>
              <td>Адрес регистрации:</td>
              <td> {{ individual.passport.address_registration }}</td>
          </tr>
         
</table>
<div class="panel-heading">
    <p><strong>Сканы документов</strong></p>
  </div>


        <table border="1" bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring">
    <tr>
    {% for item in individual.passport.images %}
            <td>
                <img class="zoomTarget img-custom" style="height: 100px; width: 100px"
                     src="{{ item.url }}" alt=""/>

            </td>


        {% endfor %}

        {% for item in individual.driver_license.images %}
            <td>
                <img class="img-custom" style="height: 100px; width: 100px"
                     src="{{ item.url }}" alt=""/>
            </td>


        {% endfor %}
    </tr>
</table>

        <br/>

        <div class="panel-heading">
            <p><strong>Версии данных</strong></p>
        </div>
        <table class="table">
            <tr>
                <td>Версия</td>
                <td>Дата</td>
                <td>В архиве</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            {% for item in individual.generations %}
                <tr>
                    <td>{{ item.number }}</td>
                    <td>{{ item.create_time }}</td>
                    <td>{{ item.is_archive|archive_bool_filter }}</td>
                    <td>
                        {{ item.payload }}
                    </td>
                    {% if item.is_archive %}
                        <td>
                            <a class="btn btn-success check-scoring" custom_id="{{ individual.id }}"
                               custom_gen="{{ item.number }}"
                               href="{% url "individual_scoring" id=individual.id gen_id_or_cur_gen=item.number %}">
                                Решение</a>


                            <a class="btn btn-success check-scoring" custom_id="{{ individual.id }}"
                               custom_gen="{{ item.number }}"
                               href="{% url "individual_report" id=individual.id gen_id_or_cur_gen=item.number %}">
                                Отчет</a></td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>


    </div>
    <!--  Имя: Отчество: Фамилия: Пол: Дата рождения: Номер паспорта: Дата выдачи паспорта: кем выдан: Адрес прописки:

сканы документов(таблица, подгрузить пикчи)

Водители
Фио, номер ВУ, дата выдачи ВУ, стаж, тип
история операций таблица операция-дата и список создана, на проверке скориста, прошла все проверки, ожидает согласования, согласована иваном
-->





{% endblock %}



