{% extends "../base.html" %}

{% load color_filter %}
{% block title %}
    Скоринг клиента
{% endblock %}
{% block content %}
    <script>
        var individual_id = {{ id }};
    </script>
    <div id="" class="container">

    <div class="item1"><h1>Решение скоринга </h1>
        <h4>Заявка № {{ id }}</h4>
        <h4> {{ individual.last_name }} {{ individual.first_name }} {{ individual.middle_name }}</h4>
            {#            <h4>{{ item.created_at }}, ID: Willz, Продукт: {{ item.product }}</h4>  </div>#}
        <br/>
        <a href="{% url "accept_individual" id %}" class="btn btn-success" id="accept-individual">
            Одобрить
        </a>
        <a href="{% url "reject_individual" id %}" class="btn btn-danger" id="reject-individual">
            Отказать
        </a>
    <br><p></p>


            <div class="card">

                <div class="card-header h2">Скоринг</div>
                <div class="card-body">


                    <span class="h4"><b>Балл:</b></span> <b class="h3" style="color:green;">{{ score }} </b></h4>
                    {#                <p>Данный клиент требует дополнительного согласования. Обратите внимание на стоп-факторы. </p>#}
                    {#               <button class="btn btn-default scoring-delete-button " type="button"> <span class="glyphicon glyphicon-plus"></span>  подробности </button>#}
                </div>
        </div>


            <div class="card">

                <div class="card-header h2">Валидации</div>
                <div class="card-body">
                    {% for key,value in validate_status.items %}
                        <p class="float-lg-right font-weight-bold">Статус: <span class="glyphicon glyphicon-ok"
                                                                                 style="color:{{ value|color_filter }}">{{ value }}</span>
                        </p>
                        <p><b>Модуль: </b>{{ key }}</p>





                <table border="1" bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring" width="30px">
                {% for kk,vv in validate.items %}{% ifequal kk key %}
                <tbody>
                <p>


                <p class=""><b>Проверки:</b></p>
                {% for element in vv %}
                            <p>{{ element.decription }}</p>
                        {% endfor %}

                </p>
                </tbody>
                {% endifequal %} {% endfor %}

            </table>

            {% endfor %}

                </div>
        </div>

            <div class="card">

                <div class="card-header h2">Стоп-факторы</div>
                <div class="card-body">
                    {% for key,value in stopfactor_status.items %}
                        <p class="float-lg-right font-weight-bold">Статус: <span class="glyphicon glyphicon-ok"
                                                                                 style="color:{{ value|color_filter }}">{{ value }}</span>
                        </p>
                        <p><b>Модуль: </b>{{ key }}</p>



                <table border="1" bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring" width="30px">
                {% for kk,vv in stopfactors.items %}{% ifequal kk key %}
                <tbody>
                <p>


                        <p><b>Проверки:</b></p>
                {% for element in vv %}
                            <p>{{ element.decription }}</p>
                        {% endfor %}

                </p>
                </tbody>
                {% endifequal %} {% endfor %}
            </table>


                    {% endfor %}

                </div>
            </div>

        </div>
    <div class="card">

        <div class="card-header h2">Данные
            <button type="button" class="btn btn-info float-lg-right" data-toggle="collapse" data-target="#demo111">+
            </button>
        </div>

        <div class="card-body collapse" id="demo111">
            {% for key,value in values.items %}

                <p class="h5"><b>Модуль: </b>{{ key }}</p>

                <table class="table" style="padding: 5px;">

                    {% for element in value %}
                        <tr>
                            <td>{% for pp,pvv in parameters_dict.items %}{% ifequal pp element.name %}{{ pvv }}
                            {% endifequal %}{% endfor %}</td>

                            <td>{{ element.value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
            <button class="btn btn-success" style="margin: 5px;" id="show-raw-data" custom_tag="{{ key }}">Посмотреть
                сырые данные из источников
            </button>
        </div>
    </div>

{% endblock %}

