{% extends "../base.html" %}

{% block title %}
    Данные клиента
{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
    <script>
        var individual_id = {{ individual.id }};
        var product_id = {{ product_id }};
    </script>
    <div class="modal-header">
    <h1>Заявка № {{ id }}</h1>
    </div>
    <div class="container">
        <h2><strong>Данные</strong></h2>
    <a href="{% url "client_decline" individual.id %}">
        <button class="btn btn-danger" type="button"> Отказ по заявке</button>
    </a>
        <button id="scoring-button" class="btn btn-success" type="button"> Отправить на скоринг</button>
        <p class="text-xl-left">Продукт</p>

        <p class="font-weight-bold">{{ product }}</p>
        <p class="glyphicon-header">Статус</p>
        <p class="font-weight-bold">{{ status }}</p>
      <table class="table">

   <tr>
       <td> Имя:</td>
       <td>{{ individual.first_name }}</td>
       <td>
     Статус:</td>
   </tr>
   <tr>
       <td>Отчество:</td>
       <td>{{ individual.middle_name }}</td>  <td>

     Требует подтверждения:</td>
   </tr>
   <tr>
       <td>Фамилия:</td>
       <td>{{ individual.last_name }}</td>  <td>
     Скоринг:</td>
   </tr>
   <tr>
       <td>Пол:</td>
       <td> {{ individual.gender }}</td>  <td>
     Стоп-Факторы:</td>
   </tr>
   <tr>
       <td>Дата рождения:</td>
       <td> {{ individual.birthday }}</td>
   </tr>
   <tr>
       <td>Номер паспорта:</td>
       <td>{{ individual.passport.number }}</td>
   </tr>
   <tr>
       <td>Дата выдачи паспорта:</td>
       <td> {{ individual.passport.issued_at }}</td>
   </tr>
   <tr>
       <td>Кем выдан:</td>
       <td> {{ individual.passport.issued_by }}</td>
   </tr>
   <tr>
       <td>Адрес прописки:</td>
       <td> {{ individual.passport.address_registration }}</td>
   </tr>
         
</table>
<div class="panel-heading">
    <p><strong>Сканы документов</strong></p>
  </div>


 <table border="1"  bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring"
    <tr>
    {% for item in individual.passport.images %}
            <td>
                <a id="single_image" href="{{ item.url }}"><img class="img-custom" style="height: 100px; width: 100px"
                                                                src="{{ item.url }}" alt=""/></a>

            </td>


        {% endfor %}

        {% for item in individual.driver_license.images %}
            <td>
            <a id="single_image" href="{{ item.url }}"><img class="img-custom" style="height: 100px; width: 100px"
                                                            src="{{ item.url }}" alt=""/></a>
            </td>


        {% endfor %}
    </tr>
</table>



        <div class="panel-heading">
        <p><strong>История операций</strong></p>
    </div>

    <table class="table">
        <tr>
            <td>Действие</td>
            <td>Процессор</td>
            <td>Дата</td>
            <td>Информация</td>
        </tr>

        {% for item in history.actions %}
        <tr>
                <td>{{ item.action_type }}</td>
                <td>{{ item.processor }}</td>
                <td>{{ item.create_time }}</td>
            <td>
                {{ item.payload }}
                <!--<button class="btn btn-info" type="menuButton">Просмотр
                </button>-->
            </td>
        </tr>
            {% endfor %}

        </tr>
    </table>

    </div>

    <!--  Имя: Отчество: Фамилия: Пол: Дата рождения: Номер паспорта: Дата выдачи паспорта: кем выдан: Адрес прописки:

сканы документов(таблица, подгрузить пикчи)

Водители
Фио, номер ВУ, дата выдачи ВУ, стаж, тип
история операций таблица операция-дата и список создана, на проверке скориста, прошла все проверки, ожидает согласования, согласована иваном
-->





{% endblock %}



