{% extends "../base.html" %}


{% block title %}
    Скоринг клиента
{% endblock %}
{% block content %}
    <script>
        var individual_id = {{ id }};
    </script>
    <div id="" class="container">

        <div class="item1"><h1>Оценка физ.лица № {{ id }}</h1>
            {#            <h4>{{ item.created_at }}, ID: Willz, Продукт: {{ item.product }}</h4>  </div>#}
        <a href="{% url "accept_individual" id %}" class="btn btn-success" id="accept-individual">
            Одобрить
        </a>
        <a href="{% url "reject_individual" id %}" class="btn btn-danger" id="reject-individual">
            Отказать
        </a>
    <br><p></p>

   <div style=" border:1px solid lightgray;" id="" class="container">
       <p><strong>Скоринг</strong></p>


            <h4>
                <strong style="color:green">{{ score }} </strong></h4>
            {#                <p>Данный клиент требует дополнительного согласования. Обратите внимание на стоп-факторы. </p>#}
            {#               <button class="btn btn-default scoring-delete-button " type="button"> <span class="glyphicon glyphicon-plus"></span>  подробности </button>#}
        </div>

        <div style=" border:1px solid lightgray;" id="" class="container" data-toggle="collapse" data-target="#demo">


            <p><strong>Данные</strong><strong style="color:green" class="float-lg-right">OK</strong></p>

        <div id="demo" class="collapse">

            {% for key,value in values.items %}
                <p><b>Модуль: </b>{{ key }}</p>
                <table class="table" style="padding: 5px;">
                <tr>
                    <th style="width:300px;">Параметр</th>
                    <th>Значение</th>
                </tr>
                {% for element in value %}
                    <tr>
                        <td>{% for pp,pvv in parameters_dict.items %}{% ifequal pp element.name %}{{ pvv }}
                        {% endifequal %}{% endfor %}</td>

                        <td>{{ element.value }}</td>
                    </tr>
                {% endfor %}

            {% endfor %}
            </table>
            </div>
        </div>
            {% for key,value in validate_status.items %}
            <div style=" border:1px solid lightgray;" class="container" data-toggle="collapse" data-target="#demo1">


                <p><strong>Валидации</strong> <strong
                        style="color:{% ifnotequal value "Failed" %}green{% else %}red{% endifnotequal %}"
                        class="float-lg-right">{{ value }}</strong></p>
            <div id="demo1" class="collapse">
            <table border="1" bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring" width="30px">
                {% for kk,vv in validate.items %}{% ifequal kk key %}
                <tbody>
                <p>

                <p><b>Модуль: </b>{{ kk }}</p>
                        <p><b>Проверки:</b></p>
                {% for element in vv %}
                            <p>{{ element.decription }}</p>
                        {% endfor %}

                </p>
                </tbody>
                {% endifequal %} {% endfor %}
            </table>
                </div>
        </div>
            {% endfor %}
            {% for key,value in stopfactor_status.items %}
        <div style=" border:1px solid lightgray;" class="container"  data-toggle="collapse" data-target="#demo2">
                <p><strong>Стоп-Факторы</strong> <strong
                        style="color:{% ifnotequal value "Failed" %}green{% else %}red{% endifnotequal %}"
                        class="float-lg-right">{{ value }}</strong></p>
        
    <div id="demo2" class="collapse">
            <table border="1" bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring" width="30px">
                {% for kk,vv in stopfactors.items %}{% ifequal kk key %}
                <tbody>
                <p>

                <p><b>Модуль: </b>{{ kk }}</p>
                        <p><b>Проверки:</b></p>
                {% for element in vv %}
                            <p>{{ element.decription }}</p>
                        {% endfor %}

                </p>
                </tbody>
                {% endifequal %} {% endfor %}
            </table>

        </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

