{% extends "../index.html" %}


{% block title %}
    Скоринг клиента
{% endblock %}
{% block content %}

    <div id="" class="container">
        <div class="grid-container">
            <div class="item1"><h1>Оценка заявки № {{ id }}</h1></div>
            <div class="item1"><p>{{ individual.last_name }} <br> Продукт: Willz</p></div>
        </div>
        <a href="{% url "accept_individual" id %}">
            <button class="btn btn-success" type="button">Одобрить
            </button>
        </a></td>
        <a href="{% url "reject_individual" id %}">
            <button class="btn btn-danger" type="button">Отказать
            </button>
        </a></td>


        <div style=" border:1px solid lightgray;" id="" class="container">
            <big>Данные</big>
            {% for item in sources %}
                <p>{{ item }} <strong style="color:green">Успешно </strong></p>
            {% endfor %}
        </div>

        <div style=" border:1px solid lightgray;" id="" class="container">
            <big>Скоринг</big>


            <p>
                Оценка клиента: <strong style="color:green">{{ score }} </strong></p>
            {#                <p>Данный клиент требует дополнительного согласования. Обратите внимание на стоп-факторы. </p>#}
            {#               <button class="btn btn-default scoring-delete-button " type="button"> <span class="glyphicon glyphicon-plus"></span>  подробности </button>#}
        </div>

        <div style=" border:1px solid lightgray;" class="container">
            <big style="color:red">Валидации</big>
            <table border="1" bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring" width="30px">

                <tbody>
                <p>
                    {% for stopfactor in stopfactors.items %}
                        <p>{{ stopfactor }}</p>
                    {% endfor %}
                </p>
                </tbody>

            </table>

        </div>
        <div style=" border:1px solid lightgray;" class="container">
            <big style="color:red">Стоп-Факторы</big>
            <table border="1" bgcolor="#FFFFFF" bordercolor="#FFFFFF" class="scoring" width="30px">

                <tbody>
                <p>
                    {% for check in validate.items %}
                        <p>{{ check }}</p>
                    {% endfor %}
                </p>
                </tbody>

            </table>

        </div>
        <div style=" border:1px solid lightgray;" id="" class="container">
            <big style="color:red">Сырые данные</big>
            <div style="height:200px; width:570px;border:2px solid #5e5e5e;font:16px/26px Georgia, Garamond, Serif;overflow-y: scroll;">
                {{ values }}</div>

        </div>
    </div>
{% endblock %}

