{% extends "../base.html" %}



{% block title %}
    Модули {{ module }}
{% endblock %}
{% block content %}


    <div  class="container ">
        <h1 class="panel-title">Модули {{ module }}</h1>

        <p></p>

        <br>


        <table bgcolor="#FFFFFF">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Путь</th>
                <th>Активен</th>
                <th>Создан</th>
                {% if module == "source" %}
                    <th>URL</th>
                    <th>Параметры доступа</th>
                {% endif %}
            </tr>
            </thead>


            <tbody>

            {% for item in items %}
                <tr style="height: 20%;width: 40%; overflow: auto; background: #ffff00">

                    <td>{{ item.name }}</td>
                    <td>{{ item.path }}</td>
                    <td>{{ item.is_active }}</td>
                    <td>{{ item.creation_time }}</td>
                    {% if module == "source" %}
                        <td>{{ item.module_url }}</td>
                        <td>{{ item.credentials }}</td>
                    {% endif %}
                </tr>

            {% endfor %}

            </tbody>
        </table>
       <br>
        <a href="{% url "upload_module" module %}">
            <button class="menuButton" type="button"><span class="glyphicon glyphicon-plus"></span>Загрузить модуль
            </button>
        </a>

    </div>

{% endblock %}


