{% extends "../base.html" %}



{% block title %}
    Справочник полей
{% endblock %}
{% block content %}


    <div id="" class="container">
        <h1 class="panel-title">Справочник полей</h1>

        <p></p>

        <br>


        <table class="table">
            <tr>
                <th>#</th>
                <th>Источник</th>
                <th>Парсер</th>
                <th>Имя параметра</th>
                <th>Описание параметра</th>
                <th>Тип</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item.index }}</td>
                    <td>{{ item.source }}</td>
                    <td>{{ item.parser }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.type }}</td>
                </tr>

            {% endfor %}

        </table>

    </div>

{% endblock %}


