{% extends "../base.html" %}



{% block title %}
    Список продуктов
{% endblock %}
{% block content %}


    <div id="" class="container">
        <h4>Продукты</h4>

        <p></p>

        <br>


        <table class="table">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Основной</th>
                <th>Дополнительный</th>
            </tr>
            </thead>


            <tbody>

            {% for item in items %}
                <tr>

                    <td>{{ item.name }}</td>
                    <td>{{ item.primary }}</td>
                    <td>{{ item.other }}</td>
                    <td><a href="{% url "product_edit" item.id %}">
                        <button class="menuButton" type="button"><span class="glyphicon glyphicon-plus"></span>Редактировать
                        </button>
                    </a>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
        <a href="{% url "product_new" %}">
                <button class="btn btn-success" type="button" {{ disabled }}><span class="glyphicon glyphicon-plus"></span>
                    Создать
                </button>
                </a>
    </div>

{% endblock %}
