{% extends "../base.html" %}


{% block head %}

{% endblock %}
{% block title %}
   Общий отчёт по скорингу
{% endblock %}
{% block content %}
         <a class="btn btn-success" href="https://www.sejda.com/html-to-pdf?save-link=ссылка_на_наш_репорт">Сохранить в PDF</a>
                    <h2>Общий отчёт по скорингу</h2>
             <table style="table-layout: fixed; border: solid 1px black"class="table table-bordered">
                        <tr>
                            <td>
                                Дата заявки
                            </td>
                            <td>

                            </td>
                             <td>
                                Наименование компании
                            </td>
                             <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                № заявки
                            </td>
                            <td>

                            </td>
                             <td>
                                Название продукта
                            </td>
                             <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                ФИО клиента
                            </td>
                            <td>

                            </td>
                             <td>
                                Оператор ФИО
                            </td>
                             <td>

                            </td>
                        </tr>
             </table>
      <table style="table-layout: fixed; border: solid 1px black"class="table table-bordered">  
                        <tr>
                            <td>
                                № заявки
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                ФИО клиента
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                ФИО основного клиента
                            </td>
                            <td>

                            </td>
                        </tr>
                        <!-- 	Статус обработки (не корректные док-ты; в работе, ошибка систем, на согласовании, заявка закрыта)
                            Результат проверки (одобрен, отказ, одобрен с комментарием)
                            Наименование Компании
                            Название продукта	-->
                        <tr>
                            <td>
                                Статус обработки (не корректные док-ты; в работе, ошибка систем, на согласовании, заявка закрыта)
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Результат проверки (одобрен, отказ, одобрен с комментарием)
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Найдены StopFactor(список)
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                                <td>
                                    Найдены MiddleFactor(список)
                                </td>
                                <td>

                                </td>
                            </tr>  <tr>
                                    <td>
                                       Наименование компании
                                    </td>
                                    <td>

                                    </td>
                                </tr>  <tr>
                                        <td>
                                           Название продукта
                                        </td>
                                        <td>

                                        </td>
                                    </tr>  <tr>
                                            <td>
                                                Оператор(ФИО)
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                    </table>
{% endblock %}
