{% extends "../base.html" %}


{% block title %}
    Источники
{% endblock %}

{% block content %}



		<div id="ots" class="container">
  <div class="panel-heading">
    <h1 class="panel-title" >Источники</h1>
      <big>Адаптеры</big><br>
  </div>
  <div class="panel-body">

  <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default scoring-add-button" type="button"> <span class="glyphicon glyphicon-plus"></span>  Добавить </button>
      </span>
      <input type="text" class="form-control scoring-add-button" placeholder="Введите номер заявки, пожалуйста">
    </div>
<!--
источники

адаптеры
имя описание логин пароль формат статус схема настройка
кнопка сохранить справа


логирование
имя время вызова статус
контур-фокус
скориста
гибдд
-->
<table border=" solid 1px black"  bgcolor="#FFFFFF">
    <thead>
      <tr>
        <th> имя</th>
          <td> описание</td>
          <td> логин</td>
          <td> пароль</td>
          <td> формат</td>
          <td> Статус</td>
          <td> настройка</td>
          <td></td>
      </tr>
    </thead>
    <tbody>
    <td>Scorista</td>
            <td>----</td>

            <td>login</td>
            <td>password</td>
    <td>JSON</td>
            <td>&#9989;</td>

           <td>
    <button class="btn btn-default scoring-delete-button " type="button"> <span class="glyphicon glyphicon-plus"></span>  настройка </button>
    </td>

  </tr>
</tbody>
</table>

      <button class="btn btn-default  " type="button"> <span class="glyphicon glyphicon-plus"></span>  сохранить </button>
      <br/>
<div class="panel-heading">
      <big>логирование</big>
  </div>
  <table border=" solid 1px black"  bgcolor="#FFFFFF">
    <thead>
      <tr>
        <th> имя</th>
          <td>время вызова</td>
          <td> Дата регистрации</td>
          <td> статус</td>
          <td></td>
      </tr>
    </thead>
    <tbody>

    <td>Scorista</td>
            <td>14.01.2018 15:00</td>
            <td>13.01.2018</td>
            <td>Accepted</td>


  </tr>

</tbody>
</table>

</div>
</div>


{% endblock %}

