{% extends "../base.html" %}



{% block title %}
   Список пользователей
{% endblock %}
{% block content %}


		<div id="" class="container">
            <h1 class="panel-title">Пользователи</h1>
        <p></p>

<br>



<!--
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Введите id</label><br>
            <input type="number" name="iduser" />
        </p>
        <input type="submit" value="Сохранить" >

    {% if people.count > 0 %}
    <h2>Список пользователей</h2>
    <table>
        <tr><th>Id</th><th>Имя</th><th>Возраст</th></tr>
        {% for person in people %}
        <tr><td>{{ person.id }}</td><td>{{ person.name }}</td><td>{{ person.age }}</td></tr>
        {% endfor %}
    </table>
    {% endif %}

-->

<table class="table">
      <tr>
          <th>Id</th>
        <th>Юзернейм</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Почта</th>
          <th>Последний вход</th>
          <th>Активен</th>

      </tr>

    {% for item in items %}
         <tr>

            <td>{{ item.id }}</td>
             <td>{{ item.username }}</td>
            <td>{{ item.first_name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.email }}</td>
             <td>{{ item.last_login }}</td>
          <td>{{ item.is_active }}</td>

     </tr>

    {% endfor %}
</table>
           <a  href="{% url "signup" %}"><button class="btn btn-outline-success" type="button">Регистрация пользователя</button></a>

</div>


{% endblock %}



