
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/willz-dev.iml
.idea/workspace.xml
core/.idea/encodings.xml
core/.idea/libraries/R_User_Library.xml
core/.idea/misc.xml
core/.idea/modules.xml
core/.idea/willz_core.iml
core/.idea/workspace.xml
.DS_Store
core/lib/__pycache__/__init__.cpython-37.pyc
core/lib/__pycache__/constants.cpython-37.pyc
core/lib/__pycache__/process.cpython-37.pyc
portal/__pycache__/__init__.cpython-35.pyc
portal/__pycache__/index.cpython-35.pyc
portal/__pycache__/models.cpython-35.pyc
portal/__pycache__/settings.cpython-35.pyc
portal/__pycache__/urls.cpython-35.pyc
portal/__pycache__/wsgi.cpython-35.pyc
portal/__pycache__/wsgi.cpython-35.pyc
portal/__pycache__/urls.cpython-35.pyc
portal/__pycache__/settings.cpython-35.pyc
portal/__pycache__/models.cpython-35.pyc
portal/__pycache__/index.cpython-35.pyc
portal/__pycache__/__init__.cpython-35.pyc
web/portal/__pycache__/__init__.cpython-35.pyc
web/portal/__pycache__/__init__.cpython-37.pyc
web/portal/__pycache__/api.cpython-37.pyc
web/portal/__pycache__/index.cpython-35.pyc
web/portal/__pycache__/index.cpython-37.pyc
web/portal/__pycache__/models.cpython-35.pyc
web/portal/__pycache__/models.cpython-37.pyc
web/portal/__pycache__/settings.cpython-35.pyc
web/portal/__pycache__/settings.cpython-37.pyc
web/portal/__pycache__/urls.cpython-35.pyc
web/portal/__pycache__/urls.cpython-37.pyc
web/portal/__pycache__/wsgi.cpython-35.pyc
web/portal/__pycache__/wsgi.cpython-37.pyc
