{% extends "../../base.html" %}



{% block title %}
    Редактирование продукта
{% endblock %}
{% block content %}

    <div id="" class="container">
        <h1 class="panel-title">Редактирование продукта</h1>
        <p></p>

        <br>
        <form method="post" action="">
            {% csrf_token %}
            <ul>
                <li>
                    <label class="description" for="element_1">Имя продукта</label>
                    <div>
                        <input id="element_2" name="name" class="element text medium" type="text" maxlength="255"
                               value="{{ product.name }}"/>

                    </div>
                </li>
                <li id="li_1">
                    <label class="description" for="element_1">Модуль скоринга для основных водителей</label>
                    <div>
                        <select class="element select medium" name="primary_scoring">
                            <option value="" selected="selected"></option>
                            {% for module in modules %}
                                <option value="{{ module.id }}">{{ module.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </li>
                <br/>
                <li id="li_2">
                    <label class="description" for="element_1">Модуль скоринга для дополнтительных водителей</label>
                    <div>
                        <select class="element select medium" id="secondary_scoring" name="other_scoring">
                            <option value="" selected="selected"></option>
                            <{% for module in modules %}
                            <option value="{{ module.id }}">{{ module.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </li>
                <br/>
                <li class="buttons">
                    <input type="hidden" name="form_id" value="50538"/>

                    <input class="menuButton" type="submit" name="submit" value="Сохранить"/>
                </li>
            </ul>
        </form>
    </div>

{% endblock %}

