{% extends "../../base.html" %}
{% load static %}


{% block title %}
    Создание клиента оператором
{% endblock %}
{% block content %}

    <div id="" class="container">
        <h1 class="panel-title">Создание клиента оператором</h1>
        <p></p>

        <br>


        <form class="needs-validation" novalidate="" method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Фамилия"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="firstName">Имя</label>
                    <input type="text" class="form-control" id="firstName" name="first_name" placeholder="Имя" value=""
                           required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="middleName">Отчество</label>
                    <input type="text" class="form-control" id="middleName" name="middle_name" placeholder="Отчество"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="email">Электронная почта</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="phone">Телефон</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Имя" value=""
                           required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="gender">Пол</label>
                    <select class="custom-select d-block w-100" id="gender" name="gender" required="">
                        <option value="">Женский</option>
                        <option>Мужской</option>
                    </select>
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="birthday">Дата рождения</label>
                    <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Отчество"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
            </div>
            <hr class="mb-4">


            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Фамилия"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Фамилия"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Фамилия"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Фамилия"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Фамилия"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Фамилия"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <div class="media pb-3 "><img class="rounded align-self-start mr-3"
                                                  src="{% static 'images/no_pic.png' %}" alt="..."></div>
                    <label class="btn btn-outline-secondary btn-sm btn-block">
                        <span>Выбрать фото</span>
                        <input type="file" hidden onchange="this.form.submit()" name="passport_image_1"
                               accept="image/*">
                    </label>
                </div>
                 <div class="form-group col-md-3">
                    <div class="media pb-3 "><img class="rounded align-self-start mr-3"
                                                  src="{% static 'images/no_pic.png' %}" alt="..."></div>
                    <label class="btn btn-outline-secondary btn-sm btn-block">
                        <span>Выбрать фото</span>
                        <input type="file" hidden onchange="this.form.submit()" name="passport_image_1"
                               accept="image/*">
                    </label>
                </div>                <div class="form-group col-md-3">
                    <div class="media pb-3 "><img class="rounded align-self-start mr-3"
                                                  src="{% static 'images/no_pic.png' %}" alt="..."></div>
                    <label class="btn btn-outline-secondary btn-sm btn-block">
                        <span>Выбрать фото</span>
                        <input type="file" hidden onchange="this.form.submit()" name="passport_image_1"
                               accept="image/*">
                    </label>
                </div>                <div class="form-group col-md-3">
                    <div class="media pb-3 "><img class="rounded align-self-start mr-3"
                                                  src="{% static 'images/no_pic.png' %}" alt="..."></div>
                    <label class="btn btn-outline-secondary btn-sm btn-block">
                        <span>Выбрать фото</span>
                        <input type="file" hidden onchange="this.form.submit()" name="passport_image_1"
                               accept="image/*">
                    </label>
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-success btn-lg btn-block" type="submit">Подтвердить</button>
        </form>

    </div>

{% endblock %}

