{% extends "../../base.html" %}
{% load static %}


{% block title %}
    Создание клиента оператором
{% endblock %}
{% block content %}

    <div id="" class="container">
        <h1 class="panel-title">Создание клиента оператором</h1>
        <p></p>

        <br>


        <form class="needs-validation" novalidate="" method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Фамилия"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="firstName">Имя</label>
                    <input type="text" class="form-control" id="firstName" name="first_name" placeholder="Имя"
                           value=""
                           required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="middleName">Отчество</label>
                    <input type="text" class="form-control" id="middleName" name="middle_name" placeholder="Отчество"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
            </div>

            <!--  passport -->
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="email">Электронная почта</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="phone">Телефон</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder=""
                           value=""
                           required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="gender">Пол</label>
                    <select class="custom-select d-block w-100" id="gender" name="gender" required="">
                        <option value="">Женский</option>
                        <option>Мужской</option>
                    </select>
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="birthday">Дата рождения</label>
                    <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Отчество"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
            </div>
            <hr class="mb-4">

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="passportNumber">Номер паспорта</label>
                    <input type="text" class="form-control" id="passportNumber" name="passport_number"
                           placeholder="0000 000000"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="passportIssuedAt">Паспорт выдан (когда)</label>
                    <input type="date" class="form-control" id="passportIssuedAt" name="passport_issued_at"
                           placeholder=""
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="passportIssuedBy">Паспорт выдан (Кем)</label>
                    <input type="text" class="form-control" id="passportIssuedBy" name="passport_issued_by"
                           placeholder="Паспорт выдан (Кем)"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="passportAddressRegistration">Адрес регистрации</label>
                    <input type="text" class="form-control" id="passportAddressRegistration"
                           name="passport_address_registration"
                           placeholder="000000, Х обл., д. Х, ул. Х, к.0, д.0, кв.0"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="passportDivisionCode">Код подразделения</label>
                    <input type="text" class="form-control" id="passportDivisionCode" name="passport_division_code"
                           placeholder="Код подразделения"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="passportBirthplace">Место рождения</label>
                    <input type="text" class="form-control" id="passportBirthplace" name="passport_birthplace"
                           placeholder="Место рождения"
                           value="{{ form.passport_birthplace.value|default_if_none:"" }}" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow gallery">
                        <div class="media aspect-ratio aspect-ratio-4-3">
                            <img src="{% static 'images/no_pic.png' %}"
                                 id="output_passport_image_1" alt="" class="fit-img fit-img-tight"/>
                        </div>
                        <label for="upload_passport_image_1">
                                                    <span class="btn btn-outline-secondary btn-sm btn-block"
                                                          aria-hidden="true">Первый разворот</span>
                            <input name="passport_image_1" style="display:none" id="upload_passport_image_1"
                                   type="file"
                                   accept="application/pdf, application/vnd.ms-excel,image/*"
                                   multiple="" onchange="LoadFile(event,'passport_image_1')">
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow gallery">
                        <div class="media aspect-ratio aspect-ratio-4-3">
                            <img src="{% static 'images/no_pic.png' %}"
                                 id="output_passport_image_2" alt="" class="fit-img fit-img-tight"/>
                        </div>
                        <label for="upload_passport_image_2">
                                                    <span class="btn btn-outline-secondary btn-sm btn-block"
                                                          aria-hidden="true">Разворот с регистрацией</span>
                            <input name="passport_image_2" style="display:none" id="upload_passport_image_2"
                                   type="file"
                                   accept="application/pdf, application/vnd.ms-excel,image/*"
                                   multiple="" onchange="LoadFile(event,'passport_image_2')">
                        </label>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card mb-4 box-shadow gallery">
                        <div class="media aspect-ratio aspect-ratio-4-3">
                            <img src="{% static 'images/no_pic.png' %}"
                                 id="output_passport_image_3" alt="" class="fit-img fit-img-tight"/>
                        </div>
                        <label for="upload_passport_image_3">
                                                    <span class="btn btn-outline-secondary btn-sm btn-block"
                                                          aria-hidden="true">Селфи с паспортом</span>
                            <input name="passport_image_3" style="display:none" id="upload_passport_image_3"
                                   type="file"
                                   accept="application/pdf, application/vnd.ms-excel,image/*"
                                   multiple="" onchange="LoadFile(event,'passport_image_3')">
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow gallery">
                        <div class="media aspect-ratio aspect-ratio-4-3">
                            <img src="{% static 'images/no_pic.png' %}"
                                 id="output_passport_image_4" alt="" class="fit-img fit-img-tight"/>
                        </div>
                        <label for="upload_passport_image_4">
                                                    <span class="btn btn-outline-secondary btn-sm btn-block"
                                                          aria-hidden="true">Подтверждение дохода</span>
                            <input name="passport_image_4" style="display:none" id="upload_passport_image_4"
                                   type="file"
                                   accept="application/pdf, application/vnd.ms-excel,image/*"
                                   multiple="" onchange="LoadFile(event,'passport_image_4')">
                        </label>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <!-- END passport -->

            <!-- driver license -->
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="licenseNumber">Номер водительского удостоверения</label>
                    <input type="text" class="form-control" id="licenseNumber" name="driver_license_number"
                           placeholder="0000000000"
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="licenseIssuedAt">Когда выдано</label>
                    <input type="date" class="form-control" id="licenseIssuedAt" name="driver_license_issued_at"
                           placeholder=""
                           value="" required="">
                    <div class="invalid-feedback">
                        Поле обязательно для заполнения
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow gallery">
                        <div class="media aspect-ratio aspect-ratio-4-3">
                            <img src="{% static 'images/no_pic.png' %}"
                                 id="output_driver_license_image_1" alt="" class="fit-img fit-img-tight"/>
                        </div>
                        <label for="upload_driver_license_image_1">
                                                    <span class="btn btn-outline-secondary btn-sm btn-block"
                                                          aria-hidden="true">Лицевая сторона</span>
                            <input name="driver_license_image_1" style="display:none" id="upload_driver_license_image_1"
                                   type="file"
                                   accept="application/pdf, application/vnd.ms-excel,image/*"
                                   multiple="" onchange="LoadFile(event,'driver_license_image_1')">
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow gallery">
                        <div class="media aspect-ratio aspect-ratio-4-3">
                            <img src="{% static 'images/no_pic.png' %}"
                                 id="output_driver_license_image_2" alt="" class="fit-img fit-img-tight"/>
                        </div>
                        <label for="upload_driver_license_image_2">
                                                    <span class="btn btn-outline-secondary btn-sm btn-block"
                                                          aria-hidden="true">Задняя сторона</span>
                            <input name="driver_license_image_2" style="display:none" id="upload_driver_license_image_2"
                                   type="file"
                                   accept="application/pdf, application/vnd.ms-excel,image/*"
                                   multiple="" onchange="LoadFile(event,'driver_license_image_2')">
                        </label>
                    </div>
                </div>
            </div>
            <!-- END driver license -->

            <hr class="mb-4">

            <button class="btn btn-success btn-lg btn-block" type="submit">Подтвердить</button>
        </form>

    </div>

{% endblock %}

