* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.add_palitra {
    display: block;
    width: 5%;
    height: 2%;
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 99999;
    }
.menuButton
{
    background: white;
    color: #000000 ;
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
    border: 1px solid #000000;
    margin: 5px 1px 5px 1px;
}
.siteButton
{
     background: #ffffff;
    color: #cacaca;
    padding: 3px 3px 3px 3px;
    border: 1px solid #000000;
    margin: 5px;

}
body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 1em;
    line-height: 1.428em;
    color: #000000;
    background-color: white;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 20px;
}

.grid-container > div {
  background-color:white;
  text-align: center;
  padding: 20px 0;
  font-size: 1em;
}
.item1 {
  grid-row: 1 / 3;
}
.row {
    display: flex;
    justify-content: space-between;
    padding-right: 4px;
}

li {
    list-style-type:none;
}
  ul {
                 margin: 1px;
                 padding: 0;
                 font-size: 8pt;
                     margin-left: 0;
                     padding-left: 0;
                    }
h2 {

    text-align: center;
}
a{
    text-decoration: none;
    color: gray;
}
table
{
    border-collapse: collapse;
}
td{
    border: 2px solid lightgrey ;
    background: #ffffff;
    padding: 5px;
    horiz-align: center;
    width: 150px;
    font-size: 11pt;
    position: relative;
}
#hei {

}
.container {
    width: 100%;
    margin-top: 15px;
    margin-left: 1px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: white;
    border-radius: 0px;
    padding: 0px 10px 5px 10px;
    border: 0px;
    float:left;

}
.homeButton {
    background: lightyellow;
    padding: 10px 15px;
    text-decoration: none;
    color: #1e1e1e;
    font-weight: bold;
    border-radius: 8px ;
    border: 2px dashed #000000;
    margin: 5px;
}.regButton {
    background: lightyellow;
    padding: 10px 15px;
    text-decoration: none;
    color: #1e1e1e;
    font-weight: bold;
    border-radius: 8px ;
    border: 2px #0f3e68;
    margin: 5px;
}
.homeButtonInverse {
    background: lightyellow;
    padding: 10px 15px;
    text-decoration: none;
    color: #1e1e1e;
    font-weight: bold;
    border-radius: 8px;
    margin: 5px;
}


/* *********************************
 *    Generic FlexBox Styling      *
 **********************************/
.flexContainer {
    display: flex; height: 100%;
}
.flexItem {
    flex: 1;
}
.flexStart {
    justify-content: flex-start;
}
.flexCenter {
    justify-content: center;
}
.flexEnd {
    justify-content: flex-end;
}
.flexWrap {
    flex-wrap: wrap;
}
.itemCenter {
    align-items: center;
}
.flexColumn {
    flex-direction: column;
}
.flexSpaceBetween {
    justify-content: space-between;
}
.flexSpaceAround {
    justify-content: space-around;
}

/* *********************************
 *    Shared Styling               *
 **********************************/
html{
  position: relative;
  min-height: 100%;height:100%;
}

.wrapper {
  margin-bottom: 100px;
}

.content {
  width: 450px;
  margin: 0 auto;
  padding: 20px;
}

.footer {
  position: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #d3d3d3;
}
 .layer {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 50%; /* Ширина блока */
    height: 100%; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
   }
html,
body {
}

#container {
   min-height:100%;
   position:relative;
}

/*Стили для блока с шапкой*/
#header {
   background:#d1d1d1;
   padding:10px;
}

/*Стили для центральной части*/
#body {  /* Высота блока "footer" */
    height: 100%;
}
a#go-up{
    position: fixed;
    border: 5px solid gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 80%;
    left: 10%;
    background-image: url(../pic/up.jpg);
    background-position: center;
    z-index: 100;
    -webkit-filter: opacity(.4);
    filter: opacity(.4);
}
a#go-up:hover{
    -webkit-filter: opacity(1);
    filter: opacity(1);
}
/*Стили для нижней части*/
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:70px;   /* Высота блока "footer" */
   background:#d1d1d1;
}
.fullHeight {

}
.fullwidth {
    width: 30%;
}
.blueBackground {
    background: lightgray;
}
.whiteBackground {
    background: lightgray;
}
.screwbackground{
    background: lavender;
}
.specialBackground {
    background: white;
}
.whiteText {
    color: white;
}
.height50 {
    height: 50px;
    line-height: 50px;
}
.marginTop {
    margin-top: 50px;
}
.marginBottom {
    margin-bottom: 25px;
}

/* *********************************
 *    Navigation                   *
 **********************************/
.nav {
    list-style: none;
}
.nav a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: white;
}


/* *********************************
 *    Responsive Website           *
 **********************************/
.main{
    order: 2;
    padding: 020px;
    border-bottom: 0px solid #777777;
      flex-grow: 1;
}
.sidebar {
    width: 20%;
    background: lightgray;
    padding: 20px;
    border-bottom: 0px solid #777777;
}
.sidebarLeft{
    order: 1;
    border-bottom: 0px solid #777777;
}
.sidebarRight{
    order: 3;
    border-bottom: 0px solid #777777;
}

/* *********************************
 *    Input AddOn                  *
 **********************************/
.entry {
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em 0.75em;
    background-color: rgba(147, 128, 108, 0.1);
    color: #666666;
}

/* *********************************
 *    Center Image                 *
 **********************************/
.centerImage {
    background-size: cover;
}

/* *********************************
 *    3 Column Layout              *
 **********************************/
.subContainer {
    width: 80%;
    margin: 0 auto;
}
.col {
    width: 32%;
    border: 1px solid #777777;
    border-radius: 8px;
    background: white;
    padding: 20px;
}
.containermain{
    max-width: 1000px;
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 0 40px;
 height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    background-color: #f0f0f0;
    color: #000000;
    font: normal 16px sans-serif;
    height:100%;
}
aside
{
    background-color: rgba(240, 85, 112, 0.58);
    color: #4e4544;

}
