
<!-- header -->

<div class = "col-xs-12 col-md-2">
    <ul class="nav">

        <li><a href="">Menu1</a></li>
        <li><a href="">Menu2</a></li>
        <li><a href="">Menu3</a></li>

        <li class="dropdown dropdown-inverse">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="">Sources</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Scoring versions</a></li>
            </ul>
        </li>
        <li class="dropdown dropdown-inverse">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Tasks <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="">Details</a></li>
                <li><a href="">Drivers</a></li>
                <li><a href="">Application Status</a></li>
            </ul>
        </li>
  
                        <input class="form-control input-sm" type="text" id="login-username" placeholder="Name / Email">


                      <input type="password" class="form-control input-sm" id="login-password" placeholder="Password">

                        <button id="login-loginbutton" class="btn btn-sm btn-primary">Login </button>
                        <!--<button id="login-registerbutton" class="btn btn-sm btn-primary">Register </button>-->

                    <div class="input-group">
                     <span class="label label-primary h3 "></span>
                     &nbsp;

                     <button id="login-logoutbutton" class="btn btn-sm btn-primary">Logout </button>
                      </div>

          

    </ul>
</div>
<ul class="nav-right" >
<script language="javascript" type="text/javascript"><!--
var d = new Date();

var day=new Array("Воскресенье","Понедельник","Вторник",
"Среда","Четверг","Пятница","Суббота");

var month=new Array("января","февраля","марта","апреля","мая","июня",
"июля","августа","сентября","октября","ноября","декабря");

document.write(day[d.getDay()]+" " +d.getDate()+ " " + month[d.getMonth()]
+ " " + d.getFullYear() + " г.");
//--></script>
</ul>