{% extends "./base.html" %}

{% block title %} About {% endblock %}

{% block content %}
    <div class="container">
        <h4>Отчёт с &nbsp;&nbsp;  <input class="input-lg"type="date"> &nbsp;&nbsp; по  &nbsp;&nbsp; <input type="date" size="40"> </h4>
        <h4> Заявки со статусом &nbsp;&nbsp;<input type="text" placeholder="Статус заявки"> </h4>
        <h4>Формат:<br>
        <input type="radio" name="browser" value="opera"> Excel<Br>
   <input type="radio" name="browser" value="firefox"> CSV<Br>
  </h4>
    <button class="btn btn-success">Экспортировать</button>
    </div>
{% endblock %}

