{% extends "../base.html" %}
{% block content %} <a class="btn btn-success" href="https://www.sejda.com/html-to-pdf?save-link=ссылка_на_наш_репорт">Сохранить в PDF</a>
                    <h2>Общий отчёт по скорингу</h2>
             <table style="table-layout: fixed"class="table table-bordered">
                        <tr>
                            <td>
                                п/п №
                            </td>
                             <td>
                                Дата заявки
                            </td>
                             <td>
                                Дата завершения
                            </td>
                               <td>
                                № заявки
                            </td>
                            <td>
                                ФИО клиента
                            </td>
                            <td>
                                ФИО основного клиента
                            </td>
                            <td>
                                Статус обработки (не корректные док-ты; в работе, ошибка систем, на соглас., заявка закрыта)
                            </td>
                            <td>
                                Результат проверки (одобрен, отказ, одобрен с коммент.)
                            </td>
                           
                                    <td>
                                       Наименование компании
                                    </td>
                                        <td>
                                           Название продукта
                                        </td>
                                            <td>
                                                Оператор (ФИО)
                                            </td>
                        </tr>
                        <tr>

                            <td>

                            </td>

                                        </tr>
</table>
{% endblock %}
