{% extends "../base.html" %}


{% block head %}

{% endblock %}
{% block title %}
   Общий отчёт по скорингу
{% endblock %}
{% block content %}
         <a class="btn btn-success" href="https://www.sejda.com/html-to-pdf?save-link=ссылка_на_наш_репорт">Сохранить в PDF</a>
                    <h2>Общий отчёт по скорингу</h2>
                    <table style="table-layout: fixed;"class="table">
                        <tr>
                            <td>
                                п/п №
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Дата заявки
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Дата завершения
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                № заявки
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                ФИО клиента
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                ФИО основного клиента
                            </td>
                            <td>

                            </td>
                        </tr>
                        <!-- 	Статус обработки (не корректные док-ты; в работе, ошибка систем, на согласовании, заявка закрыта)	
                            Результат проверки (одобрен, отказ, одобрен с комментарием)	
                            Наименование Компании	
                            Название продукта	-->
                        <tr>
                            <td>
                                Статус обработки (не корректные док-ты; в работе, ошибка систем, на согласовании, заявка закрыта)
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Результат проверки (одобрен, отказ, одобрен с комментарием)
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Наименование Компании
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Название продукта
                            </td>
                            <td>

                            </td>
                        </tr>
                    </table>
{% endblock %}
