{% extends "../base.html" %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <form>
            <input type="button" value="Сохранить в PDF" class="btn btn-success"onclick="printpage()" />
        </form>
             <table style="table-layout: fixed"class="table table-bordered">
                 <tr>
                     <td colspan="3">
                        <h1> Иванов <br> Иван Иванович</h1>
                     </td>
                     <td>
                         <strong>Дата проверки: </strong> <br>05 апреля 2019
                     </td>
                 </tr>
                    </table>
    <h2>Основные данные</h2>
    <table style="table-layout: fixed"class="table table-bordered">
        <tr>
            <td>
                <strong>Дата рождения</strong>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <strong>Паспортные данные</strong>
            </td>
            <td>
                <strong> Серия номер:</strong> 1122 123456 <br>
                <strong>Дата выдачи:  </strong> 01.07.2010 г.<br>
                <strong>Кем выдан:</strong> Отделением УФМС России по Челябинской области в Кизильском районе<br>
                <strong>Код подразделения:</strong> 740-020 <br>
                <strong>Место рождения:</strong> Челябинская обл., Кизильский р-н., п. Гранитный, д.1

            </td>
        </tr>
        <tr>
            <td>
                <strong>ИНН</strong>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <strong>Водительское удостоверение</strong>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h4><strong>Контактная информация</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                Сотовый телефон
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                Электронный адрес
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                Адрес регистрации
            </td>
            <td>

            </td>
        </tr>

    </table>
    <h1>Результат проверки</h1>
        <table class="table">
            <tr>
                <td>
    <h2>Личность прошла проверку</h2></td>
                <td style="text-align: right">
                    <h2>
&#9745;&#9746;</h2>
                </td>
            </tr>
        </table>
<!-- Проверка паспорта:	Паспорт действителен
На момент проверки не найден в массиве утраченных и  недействительных паспортов
Проверка водительского удостоверения	Не проверялось
Проверка на присутствие в списке  Росфинмониторинга (экстремизм/терроризм)	Не найдено

Проверка физлиц на банкротство	Не найдено
На момент проверки в массиве данных никаких признаков банкротства не найдено
Сведения об исполнительном производстве в отношении физлица	Не найдено
-->
    <table  style="table-layout: fixed"class="table table-bordered">
        <tr>
            <td>
                Проверка паспорта:
            </td>
            <td>
&#9745;&#9746;
            </td>
        </tr>
        <tr>
            <td>
                Проверка водительского удостоверения
            </td>
            <td>

&#9745;&#9746;
            </td>
        </tr>

        <tr>
            <td>
               Проверка на присутствие в списке  Росфинмониторинга (экстремизм/терроризм)
            </td>
            <td>
                &#9745; &#9746;
            </td>
        </tr>

        <tr>
            <td>
               Проверка физлиц на банкротство
            </td>
            <td>
&#9745;&#9746;

            </td>
        </tr>

        <tr>
            <td>
                Сведения об исполнительном производстве в отношении физлица
            </td>
            <td>

            </td>
        </tr>
    </table>
        <h2>Финансовая история</h2>
     <table  style="table-layout: fixed"class="table table-bordered">
        <tr>
            <td>
               БКИ<br>
Действующая сумма долга (руб.)<br>
Просрочки по действующим кредитам (дн.)

            </td>
            <td>

            </td>
        </tr>
         <tr>
             <td>
                 База должников и «стоп-листов» банка
             </td>
             <td>

             </td>
         </tr>
     </table>
    <h2>Проверка правонарушений</h2>
    <table  style="table-layout: fixed"class="table table-bordered">
        <tr>
            <td>
             Проверка в федеральном и местном розыске
            </td>
            <td>

            </td>
        </tr>
         <tr>
             <td>
                Административные правонарушения
             </td>
             <td>
                 <h4>Найдено 2 нарушения ПДД:</h4><br>
ДАТА НАРУШЕНИЯ: 10.02.2013<br>
АДРЕС: ЧЕЛЯБИНСКАЯ ОБЛ ГИБДД<br>
Водительское удостоверение: 74ЕО012345<br>
ГОСНОМЕР: О577ЕЕ174<br>
МАРКА АВТО: РЕНО ЛОГАН<br>
НАРУШЕНИЕ: ПЕРЕЕЗД СТОП ЛИНИИ НА ЗАПРЕЩАЮЩИЙ СИГНАЛ<br>
<br>
ДАТА НАРУШЕНИЯ: 30.03.2009<br>
АДРЕС: ЧЕЛЯБИНСКАЯ КИЗИЛЬСКИЙ ГРАНИТНЫЙ ЦЕНТРАЛЬНАЯ 10 2<br>
НАРУШЕНИЕ: НАРУШЕНИЕ ПЕШЕХОДОМ ИЛИ ПАССАЖ.ТС ПДД<br>
МЕРЫ : ПРЕДУПРЕЖДЕНИЕ<br>
СУММА ШТРАФОВ : 0

             </td>
         </tr>
        <tr>
             <td>
               Уголовные правонарушения
             </td>
             <td>

             </td>
         </tr>
     </table>
    <h2>Проверка бенефициаров</h2>
       <table  style="table-layout: fixed"class="table table-bordered">
        <tr>
            <td>
            Владение ООО и/или ИП <br>
Замещение руководящих должностей<br>
Признаки долговых обязательств компании где замещались руководящие должности<br>
Признаки выявления приостановления деятельности компании где замещались руководящие должности

            </td>
            <td>

            </td>
        </tr>
         <tr>
             <td>
               Признаки банкротства/ликвидации/реорганизации/изменение уставного капитала компании где замещались руководящие должности
             </td>
             <td>

             </td>
         </tr>
     </table>
    <h2>Дополнительная информация</h2>
       <table  style="table-layout: fixed"class="table table-bordered">
        <tr>
            <td>Возможные профили в соцсетях  и мессенджеры
(Facebook, ВКонтакте, Одноклассники)
Skype, WhatsApp, Viber и др.)

            </td>
            <td>

            </td>
        </tr>
         <tr>
             <td>
              Упоминание на площадках мосмаркета
(Avito, Youla, Auto.ru)

             </td>
             <td>

             </td>
         </tr>
     </table>
    </div>
{% endblock %}
